<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="后台管理">
    <meta name="description" content="基于springcloud的权限管理系统">
    <title>个人信息</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/css/main/animate.min.css" rel="stylesheet"/>
    <link href="/assets/css/main/style.min862f.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/ajax/libs/layer/layer.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/ajax.js"></script>
    <script src="/assets/check.js"></script>
    
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>个人信息</h5>
                    <div class="ibox-tools">
                        
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/view/user/info.html#">
                            <i class="fa fa-edit"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:edit()">修改信息</a></li>
                            <li><a href="javascript:resetPwd()">修改密码</a></li>
                            <li><a href="javascript:avatar()">修改头像</a></li>
                        </ul>
                       
                    </div>
                    </div>
                    <div class="contact-box" id="model">
	                        <div class="col-sm-3">
	                            <div class="text-center">
	                                <img alt="image" class="img-circle m-t-xs img-responsive" src="/assets/img/profile.jpg">
	                                <div class="m-t-xs font-bold">127.0.0.1</div>
	                            </div>
	                        </div>
	                        <div class="col-sm-8">
	                            <h3><strong>{{user.loginName}}</strong></h3>
	                            <p><i class="fa fa-user"></i> {{user.name}}
	                            <p><i class="fa fa-phone"></i> {{user.phone}}</p>
	                            <p><i class="fa fa-group"></i> </p>
	                            <p><i class="fa fa-transgender"></i></p>
	                            <p><i class="fa fa-envelope-o"></i>{{user.mail}}</p>
	                            <p><i class="fa fa-calendar"></i> {{user.loginTime}}</p>
	                        </div>
	                        <div class="clearfix"></div>
                    </div>
                    <script>
				       var app=new Vue({
				    	  el: '#model',
				    	  data:{
				    		  user:''
				    	  },
				    	  methods:{
				    		  init(){
				    			  var res_data=$.min_ajax(null,locaUrl+"/sysuser/check","post","json",true);
				    			  this.user=JSON.parse(res_data.data);
				    		  }
				    	  }
				    	})
					   app.init();
				    </script>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
